<?xml version='1.0' encoding='utf-8' ?>
<feed xmlns='http://www.w3.org/2005/Atom'>
  <title>{{Title}}</title>
  <id>{{Host}}</id>
  <updated>{{LastUpdated}}</updated>
  <author>
    <name>{{Author}}</name>
  </author>
  {{#Articles}}
    <entry>
      <title>{{Title}}</title>
      <link href='{{Host}}/{{WebPath}}' rel='alternate' />
      <id>{{Host}}/{{WebPath}}</id>
      <published>{{LastUpdated}}</published>
      <updated>{{LastUpdated}}</updated>
      <author>
        <name>{{Author}}</name>
      </author>
      <summary type='html'>
        {{Render}}
      </summary>
    </entry>
  {{/Articles}}
</feed>
