<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/styles/style.css" rel="Stylesheet" />
    <link href="/styles/custom.css" rel="Stylesheet" />
    <link href="/styles/code.css" rel="Stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/scripts/pygments.js"></script>
    <title>
      {{title}}
    </title>
  </head>
  <body>
    <div id="root">
      <div id="box1" class="box">
        <h1>
          <a href="/">example.com</a>
        </h1>
      </div>
      <div id="box2" class="box">
        <h1>
          <a href="/about">about</a>
          /
          <a href="/other">other</a>
        </h1>
      </div>
      {{{content}}}
    </div>
  </body>
</html>
